.nav__link {
  margin: 0;
  padding-right: 11px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 700px)  {
  .nav__link {
    margin-bottom: 10px;
  }
}