.body {
  background: black url(../../images/main-bg.png) top right 90% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 300px;
  /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
  max-width: 1440px;
  /* выше установили ограничение по максимальной ширине с учетом внутренних отступов*/
  margin: 0 auto 0;
  /* выше для экранов больше 1440px отцентрировали весь контент */
  font-family: Roboto, Arial, sans-serif;
  color: white;
  box-sizing: border-box;
}