.body {
  background-image: url(../../images/main-bg.png);
  min-width: 250px;
  /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
  max-width: 1440px;
  /* выше установили ограничение по максимальной ширине с учетом внутренних отступов*/
  margin: 0 auto 0;
  /* выше для экранов больше 1440px отцентрировали весь контент */
  font-family: Roboto, Arial, sans-serif;
}